<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/leads/create">Create New Lead</a>
    <h1>This is all of our leads</h1>
    <p>here is our custom HTML template</p>
    {% for lead in leads %}
    <div>
        <a href="/leads/{{ lead.pk }}/">{{ lead.first_name }} {{ lead.last_name }}</a>. Age: {{lead.age}}
    </div>
    {% endfor %}

    
</body>
</html>